footer {
  background-color: #007bff;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #fff;
  padding: 10px 0;
  text-align: right;
  padding-inline-end: 200px;
}

@media (max-width: 768px) {
  footer {
    text-align: center;
    padding-inline-end: 0;
  }
}

